build/classes/**
build/distributions/**
build/libs/**
.gradle/6.3/executionHistory/**
.gradle/6.3/fileHashes/**
.gradle/6.3/javaCompile/**
.gradle/buildOutputCleanup/**
Secret/
Secret/**
.gradle/6.3/fileHashes/fileHashes.lock
build/scripts/GoogleDriveSynchronizatorJava
build/scripts/GoogleDriveSynchronizatorJava.bat
.gradle/6.3/fileHashes/**
.gradle/checksums/**
.gradle/checksums/**
.gradle/nb-cache/**
build/scripts/**
property
property/**
